.student-dashboard {
    margin-bottom: 30px;
    background-color: white !important;
    box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
    border-radius: 5px;
    padding: 0px 25px 25px 25px;
    margin-top: 30px
}


.student-dashboard h3 {
    padding: 20px 25px 19px;
    border-bottom: 1px dashed #eee;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: -25px;
    background: #e6fafe;
    margin-right: -25px;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.stats-card-box {
    margin-bottom: 30px;
    padding: 35px 25px 34px 115px;
    border-radius: 5px;
    position: relative;
    background-color: #524fd5;
}

.stats-card-box .icon-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 25px;
    top: 47%;
    transform: translateY(-47%);
    box-shadow: 1px 5px 24px 0 rgb(14 198 198 / 15%);
    text-align: center;
    font-size: 40px;
}

.stats-card-box .icon-box i {
    position: absolute;
    left: 1px;
    right: 0;
    top: 57%;
    transform: translateY(-50%);
}

.stats-card-box .sub-title {
    color: white;
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}

.stats-card-box h4 {
    margin-bottom: 0;
    color: white;
    font-size: 35px;
}

.important-date {
    border: 2px solid #524fd5;
    padding: 35px 26px 35px 26px;
    border-radius: 10px;
    line-height: 60px;
}

.important-date h5 {
    font-size: 19px;
    font-weight: 600;
    font-family: ui-serif;
}

.important-date .annual-sec {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    /* font-family: ui-serif; */
}

.important-date .neet-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* font-family: ui-serif; */
    border-bottom: 1px solid grey;
}

.important-date .iit-sec {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid grey;
    /* font-family: ui-serif; */
}