.banner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner-image img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 767px) {
    .banner {
        padding-top: 24px !important;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        padding-bottom: 13px !important;
    }
}

.single-funfacts {
    margin-bottom: 30px;
    position: relative;
    padding-left: 65px;
    transition: 0.5s;
}

.single-funfacts:hover {
    transform: translateY(10px);
    /* background-color: red; */
}

.single-funfacts i {
    position: absolute;
    left: 0;
    top: -9px;
    font-size: 50px;
}

.single-funfacts p {
    margin-bottom: 7px;
    line-height: normal;
    color: black;
}

.single-funfacts h3 {
    margin-bottom: -13px;
    font-weight: 600;
    font-size: 1rem;
}

@media only screen and (max-width: 767px) {
    .single-funfacts {
        padding-top: 10px;
        padding-left: 0;
        text-align: center;
    }
}

.funfacts-area .row {
    background: white;
    padding: 18px;
    border-radius: 8px;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .single-funfacts i {
        position: relative;
        font-size: 35px;
        margin-bottom: 15px;
    }
}

.trustIcon {
    font-size: 25px;
    background: red;
    border-radius: 6px;
    padding: 10px;
}

.loginBtn {
    padding: 7px 35px 7px 35px;
    margin: 10px;
    border: none;
    background: #524fd5;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
}