.contact-info-box {
    margin-bottom: 30px;
    position: relative;
    padding-left: 85px;
    z-index: 1;
    transition: 0.5s;
}

.contact-info-box:hover {
    transform: translateY(10px);
    cursor: pointer;
}

.contact-info-box .back-icon {
    position: absolute;
    right: 0;
    bottom: -15px;
    z-index: -1;
    color: var(--blackColor);
    line-height: 1;
    opacity: .04;
    font-size: 100px;
    transform: rotate(-5deg);
}

.contact-info-box .icon {
    width: 75px;
    height: 85px;
    background-color: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    font-size: 40px;
    transition: 0.5s;
}

.contact-info-box .icon,
.contact-info-box .icon i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contact-info-box .icon:hover {
    background-color: #524fd5;
    cursor: pointer;
    color: white;
}

.contact-info-area {
    padding-top: 103px;
    background-color: white;
    padding-bottom: 57px;
}

.contact-info-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.contact-info-box p {
    margin-bottom: 2px;
    font-weight: 500;
    color: #666;
    font-size: 15px;
}

.contact-info-box .icon i {
    right: 0;
}

.contact-info-box a {
    text-decoration: none;
    color: #666;
    transition: 0.5s;
    font-size: 14px;
    outline: 0 !important;
}

@media only screen and (max-width: 767px) {
    .contact-info-box {
        padding-left: 79px;
    }
}

.contact-area {
    padding-bottom: 70px;
    background-color: white;
    padding-top: 12px;
}

.section-title {
    text-align: center;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.contact-image img {
    max-width: 100%;
    height: auto;
}

.contact-form {
    padding: 40px;
    box-shadow: 0 0 20px hsl(0deg 0% 62% / 16%);
    background-color: var(--whiteColor);
}

.form-group {
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .contact-form {
        padding: 20px;
        margin-left: 0;
        margin-top: 40px;
    }

    .contact-info-area {
        padding-top: 33px;
        padding-bottom: 33px
    }
}