.add-listings-box {
    margin-bottom: 30px;
    background-color: white !important;
    box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
    border-radius: 5px;
    padding: 0 25px;
    margin-top: 30px
}

.add-listings-box h3 {
    padding: 20px 25px 19px;
    border-bottom: 1px dashed #eee;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: -25px;
    background: #e6fafe;
    margin-right: -25px;
}

.add-listings-box .form-group {
    margin-bottom: 25px;
    position: relative;
}

.add-listings-box .form-group label {
    display: block;
    margin-bottom: 12px;
    color: var(--blackColor);
    position: relative;
    font-weight: 500;
}



.add-listings-box .form-group .form-control {
    height: 48px !important;
    background: #f9f9f9 !important;
    border-radius: 5px;
    border: 1px solid #e5e7f2 !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 0 15px;
    font-family: ui-monospace !important;
}

.add-listings-box h4 {
    height: 48px;
    display: flex;
    align-items: center;
    /* background: #f9f9f9; */
    border-radius: 5px;
    /* border: 1px solid #e5e7f2; */
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    font-family: ui-monospace;
}

.dashbaord-category-select {
    height: 48px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #e5e7f2;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    font-family: ui-monospace;
    background: #f6f6f6;
    width: 100%;
    padding: 14px;
}

.add-listings-box .loginBtn {
    margin: 10px;
    border: none;
    background: #524fd5;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
}